// Base style sheet

$color-one: #DE004B; //flag red
$color-two: #4B4331; //dark brown
$color-three: #74716E; //medium brown, text used over background3

$primary-button-color: #556675; //gray-blue
$primary-button-font-color: #fff;
$secondary-button-color: #958E79; //tan
$secondary-button-font-color: #E0E0CA;

$background2: #DFDBD4 url(../images/fabric-tan.png);
$background3: #ECE8DC;

//Typography
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1em;
}

.section-style-two {
	background: $background2;
	color: $color-two;
	padding: 2rem 0;
	h1, h2, h3, h4, h5, h6 {
		color: $color-two;
	}

	h4,h5,h6 {
		margin: .5em 0;
	}

	.photo {
		border: 5px solid rgb(255,255,255);
		border: 5px solid rgba(255,255,255,0.5);
		margin-bottom: 1em;
		}
}

// .embellishments {
// 	line-height: 1em;
// 	img {
// 		vertical-align: text-top; 
// 		margin: 0 .5em;
// 		// height: 18px; width: 18px;
// 	}
// }

img.flag {
	height: 66px; 
	vertical-align: middle; 
	margin-left: 6px;
	margin-top: -40px;
}

.row.title {text-align: center; margin-top: 2em;}

p.intro {
	font-size: 1.2em;
	margin-bottom: 1.5em;
}


// a{color: $color-one;}


a:hover{color: $color-two;}

blockquote {
	color: $neutral-one;
}

table.vertical th {text-align: right; vertical-align: top; font-size: .75em; }
th {
	font-family: $header-font-family; 
	text-transform: uppercase; 
	letter-spacing: 3px;
	border-right: 3px solid #f1f1f1;}
td, th {border-bottom: 1px solid #f1f1f1;}


.test-button {
background: #556675;
border-color: #556675;
background-image: -o-linear-gradient(-90deg, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.20) 100%);
background-image: -moz-linear-gradient(-90deg, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.20) 100%);
background-image: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.20) 100%);
background-image: -ms-linear-gradient(-90deg, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.20) 100%);
background-image: linear-gradient(-90deg, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.20) 100%);
text-transform: uppercase;
letter-spacing: 3px;
}

.test-button:hover {background-color: $success-color;}

.buttons {
	@include button-base; 
	@include button-size;
	@include single-transition;
	font-family: $header-font-family;
	font-size: emCalc(14px);
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 5px;
	margin: 0;
}

.primary-button {
	@extend .buttons;
	@include button-style($primary-button-color, 5px);
	border:2px solid lighten($primary-button-color, 30%);
	color: $primary-button-font-color;
	background-image: -o-linear-gradient(-90deg, rgba(255,255,255,0.06) 0%, rgba(0,0,0,0.06) 100%);
	background-image: -moz-linear-gradient(-90deg, rgba(255,255,255,0.06) 0%, rgba(0,0,0,0.06) 100%);
	background-image: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.06) 0%, rgba(0,0,0,0.06) 100%);
	background-image: -ms-linear-gradient(-90deg, rgba(255,255,255,0.06) 0%, rgba(0,0,0,0.06) 100%);
	background-image: linear-gradient(-180deg, rgba(255,255,255,0.06) 0%, rgba(0,0,0,0.06) 100%);

}

.secondary-button { 
	@extend .buttons;
	@include button-style($secondary-button-color, 5px);
	border:2px solid lighten($secondary-button-color, 30%);
	color: $secondary-button-font-color;
	background-image: -o-linear-gradient(-90deg, rgba(255,255,255,0.06) 0%, rgba(0,0,0,0.06) 100%);
	background-image: -moz-linear-gradient(-90deg, rgba(255,255,255,0.06) 0%, rgba(0,0,0,0.06) 100%);
	background-image: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.06) 0%, rgba(0,0,0,0.06) 100%);
	background-image: -ms-linear-gradient(-90deg, rgba(255,255,255,0.06) 0%, rgba(0,0,0,0.06) 100%);
	background-image: linear-gradient(-180deg, rgba(255,255,255,0.06) 0%, rgba(0,0,0,0.06) 100%);
}

.category-links {
	a img {margin-bottom: 1em;}
}