div.row.blog-post{
	margin: 1rem auto;
	padding-bottom: 1rem;
	border-bottom: 1px solid #eee; 
	
	figure{
		background: #fff;
	}
	
	aside{
		color: #aaa;
		transition: all .15s ease-in;
		
		&:hover{
			color: #666;
		}

		td.journal-tags {
			a {
				text-transform: capitalize;
			}
		}
	}
}

.detail-page{
	margin:1rem auto;
}

p.byline{
	color:#888;
	border-bottom:1px solid #eee;
	padding-bottom:.5rem;
}

.sidebar {

	ul {
		list-style-position:inside;
	}
}