div.row.blog-post{
	margin: 1rem auto;
	padding-bottom: 1rem;
	border-bottom: 1px solid #eee; 
	
	figure{
		background: #fff;
	}
	
	aside{
		color: #aaa;
		transition: all .15s ease-in;
		
		&:hover{
			color: #666;
		}
	}
}

.detail-page{
	margin:1rem auto;
}

a.journal-tags {
	text-transform: capitalize;
}

p.byline{
	color:$color-three;
	border-bottom:1px solid #eee;
	padding-bottom:.5rem;
	text-transform: uppercase;
	font-family: $header-font-family;
}

.sidebar {

	ul {
		list-style-position:inside;
	}
}