header {
	background: url(../images/blue-fabric.jpg);
	border-bottom: 2px solid #fff;

	a.logo-area {
		width: 207px;
		height: 80px;
		text-align: center;
		display: block;
		margin: 1rem auto 0;
		background: url(../images/chatham-chino-logo.png);
		background-repeat: no-repeat;

		margin-bottom: 3rem;
	}

	.tagline {
		display: block;
		position: absolute;
		bottom: -22px;
		right: 60px;
	}

	a.cart-link {
		position: absolute;
		top: 0; right: 1rem;
		padding: .7rem 1.5rem;
		background: rgb(1,21,38);
		background: rgba(1,21,38,0.50);
		font-size: emCalc(14px);
		color: #678297;
		display: block;
		width: auto; height: auto;

		img {
			vertical-align: middle;
			margin-right: .5rem;
		}

	}

	a.cart-link:hover {
		background: lighten(rgb(1,21,38), 10%);
		background: lighten(rgba(1,21,38,0.50), 10%);
	}
}

div#nav-holder {
	width: 100%;
	background: #fff;
	// border-top: 1px solid #ddd;
	border-top: 3px double #333;
	
	nav{
		max-width: 1024px;
		margin: 0 auto;
		text-align: center;
	}
	
	a{
		display: inline-block;
		text-align: center;
		padding: .7rem 0;
		font-family: $header-font-family;
		text-transform: uppercase;
		color: $header-font-color;
		font-size: emCalc(18px);
		line-height: 19px;
		letter-spacing: 3px;
	}
	
	a:hover{
		color: $color-one;
		// background:#ddd;
	}
}

@media only screen and (max-width: 48em) {
	header a.logo-area {margin: 4rem auto 0;}
	header a.cart-link {
		width: 100%;
		right: auto; left: auto;
		text-align: right;

		span {display: none;}
	}
}