#hero{
	text-align: center;
}


#home-products{
	margin-top: -5%;
	
	div{
		text-align: center;
		
	}
}

#story{
	background: #eee;
	margin: 3rem auto;
	padding: 1rem 0;
	
	div:first-child{
		text-align: center;
	}	

}



