#hero{
	text-align: center;
	h2#coming_soon 
	{
		font-size: 3em;
		color: #fff;
		text-align:center;
		position: absolute;
		top: 500px;
		margin: 0 auto;
		width: 100%;
		z-index: 10;
	}

}


#home-products{
	margin-top: -5%;
	
	div{
		text-align: center;
		
	}
}

#story{
	margin: 3rem auto 0;
	
	div:first-child{
		text-align: center;
	}	

	span.attribution
	{
		color: #fff;
		font-size: .8em;

		a:link, a:visited
		{
			color:#fff;
		}
	}



}



