.hidden {
	display: none;
}
@media print {
	.hidden {
		display: block;
	}
	header a.logo-area {
		width: auto;
		height: auto;
	}
	header a.cart-link, #nav-holder, .breadcrumbs, #footer {
		display: none;
	}
}