
div#product-listing-page,div#product-detail-page{
	margin: 2rem auto;
}

figure.product{
	background: #fff;
	
	span.name{
		float: left;
		font-family: $header-font-family;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	
	span.price{
		float: right;
		color: $color-two;
	}	
	
}

div#product-info{
	
	section{
		margin-bottom: 2rem;
	}
	
	img{
		border:4px solid #fff;
	}
	
	img.selected{
		border:4px solid $primary-button-color;
	}

	.sizes ul {overflow: hidden;}

	.sizes li {
		display: inline-block;
		width: 60px; height: 60px;
		float: left;
	}
	a.size {
		display: block;
		height: 60px;
		line-height: 60px;
		text-align: center;
		font: $color-two 1.2em/1em $header-font-family;
		background: $background3;
		border: 4px solid #fff;
		color: $body-font-color;
	}

	a.size:hover {
		background: $primary-button-color;
		color: #fff;
	}

	a.size.selected {
		border:4px solid $primary-button-color;
	}
}

div#cart-confirm{
	text-align: center;
	
	.primary-button {
		margin: 1rem;
	}
}