
div#product-listing-page, div#product-detail-page{
	margin: 2rem auto;
}

div#product-listing-page {
	figcaption {


		.price {
			text-align: right;
		}
	}
}

figure.product{
	background: #fff;
	
	span.name{
		float: left;
		font-family: $header-font-family;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	
	span.price{
		float: right;
		color: $color-two;
	}	
	
}

div#product-info{
	
	section{
		margin-bottom: 2rem;
	}
	
	img{
		border:4px solid #fff;
	}
	
	img.selected{
		border:4px solid $primary-button-color;
	}	

	section.product-description ul {
		margin-left: 2em;
		list-style-position: inside;
	}
}

ul.modifiers {
	overflow: hidden;

	li {
		display: inline-block;
		width: 60px; 
		height: 60px;
		margin: 4px;
		float: left;

		a {
			display: block;
			height: 60px;
			line-height: 51px;
			text-align: center;
			font: $color-two 1.2em/1em $header-font-family;
			background: $background3;
			color: $body-font-color;

			&:hover {
				background: $primary-button-color;
				color: #fff;
			}

			&.selected {
				border:4px solid $primary-button-color;
			}

			&.Navy {
				background: #2f3042;
				span { display: none; }
			}

			&[title="Navy Blue"] {
				background: #2f3042;
				span { display: none; }
			}

			&.Red {
				background: #e7194b;
				span { display: none; }
			}
			&[title="Red"] {
				background: #e7194b;
				span { display: none; }
			}
			&.LtGreen {
				background:#aed1a9;
				span { display:none; }
			}
			&[title="Light Green"] {
				background:#aed1a9;
				span { display:none; }
			}
			&[title="Royal"] {
				background: #6497ce;
				span { display:none; }
			}
			&[title="Raspberry"] {
				background: #fe717a;
				span { display:none; }
			}
			&[title="Chambray"] {
				background: #bacae1;
				span { display:none; }
			}
			&[title="Black"] {
				background: #000;
				span { display:none; }
			}
			&[title="White"] {
				background: #fff;
				span { display:none; }
			}	
			&[title="Pumpkin"] {
				background: #ffb054;
				span {display:none; }
			}		
			&[title="Mint"] {
				background:#a2deaa;
				span { display:none; }
			}
			&[title="IslandGreen"] {
				background:#a9b09e;
				span { display:none; }
			}	
			&[title="SurfBlue"] {
				background:#617188;
				span { display:none; }
			}	
			&[title="Stone"] {
				background:#e2dfd8;
				span { display:none; }
			}
			&[title="Khaki"] {
				background:#b29887;
				span { display:none; }
			} 
			&[title="Coral"] {
				background:#f48069;
				span { display:none; }
			} 
			&[title="Yellow"] {
				background:#f7e4ac;
				span { display:none; }
			} 
			&[title="Lt Blue"] {
				background:#b8cfee;
				span { display:none; }
			}
			&[title="Navy/Red Stripe"] {
				background:url(../images/color_navy_red_stripe.jpg) 0 0 no-repeat;
				span { display:none; }
			}		
			&[title="Island Green Twill"] {
				background:url(../images/IslandGreenTwill.jpg) 0 0 no-repeat;
				span { display:none; }
			}	
			&[title="Surf Blue Twill"] {
				background:url(../images/SurfBlueTwill.jpg) 0 0 no-repeat;
				span { display:none; }
			}					
			&[title="Navy/Blue Stripe"] {
				background:url(../images/color_navy_blue_stripe.jpg) 0 0 no-repeat;
				span { display:none; }
			}	
			&[title="Blue Cape Cod"] {
				background: url(../images/BlueCapeCod.jpg) 0 0 no-repeat;
				span { display:none; }
			}	
			&[title="Raspberry Cape Cod"] {
				background: url(../images/RaspberryCapeCod.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Lt Green Cape Cod"] {
				background: url(../images/LtGreenCapeCod.jpg) 0 0 no-repeat;
				span { display: none; }
			}		
			&[title="Royal Cape Cod"] {
				background: url(../images/RoyalCapeCod.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Lt Blue Cape Cod"] {
				background: url(../images/LtBlueCapeCod.jpg) 0 0 no-repeat;
				span { display:none; }
			}								
			&[title="Navy Lobster"] {
				background: url(../images/NavyLobster.jpg) 0 0 no-repeat;
				span { display: none; }
			}								
			&[title="Red Lobster"] {
				background: url(../images/RedLobster.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Bass Canvas"] {
				background: url(../images/BassCanvas.jpg) 0 0 no-repeat;
				span { display: none; }
			}			
			&[title="Black Polo"] {
				background: url(../images/BlackPolo.jpg) 0 0 no-repeat;
				span { display: none; }
			}
			&[title="White Polo"] {
				background: url(../images/WhitePolo.jpg) 0 0 no-repeat;
				span { display: none; }
			}
			&[title="Navy Polo"] {
				background: url(../images/NavyPolo.jpg) 0 0 no-repeat;
				span { display: none; }
			}
			&[title="Nantucket Red Polo"] {
				background: url(../images/NantucketRedPolo.jpg) 0 0 no-repeat;
				span { display: none; }
			}
			&[title="Chambray Blue Polo"] {
				background: url(../images/ChambrayBluePolo.jpg) 0 0 no-repeat;
				span { display: none; }
			}
			&[title="Blue Gingham"] {
				background: url(../images/BlueGingham.jpg) 0 0 no-repeat;
				span { display: none; }
			}
			&[title="Navy Gingham"] {
				background: url(../images/NavyGingham.jpg) 0 0 no-repeat;
				span { display: none; }
			}			
			&[title="Pumpkin Gingham"] {
				background: url(../images/PumpkinGingham.jpg) 0 0 no-repeat;
				span { display: none; }
			}
			&[title="Mint Gingham"] {
				background: url(../images/MintGingham.jpg) 0 0 no-repeat;
				span { display: none; }
			}
			&[title="Cranberry Gingham"] {
				background: url(../images/CranberryGingham.jpg) 0 0 no-repeat;
				span { display: none; }
			}			
			&[title="Lat Lng Cape Cod"] {
				background: url(../images/LatLngCapeCod.jpg) 0 0 no-repeat;
				span { display: none; }
			}
			&[title="Lat Lng Chatham"] {
				background: url(../images/LatLngChatham.jpg) 0 0 no-repeat;
				span { display: none; }
			}		
			&[title="Navy Hurricane"] {
				background: url(../images/NavyHurricane.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Yellow Hurricane"] {
				background: url(../images/YellowHurricane.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Coral Hurricane"] {
				background: url(../images/CoralHurricane.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Lt Blue Hurricane"] {
				background: url(../images/LtBlueHurricane.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="White/Blue Stripe"] {
				background: url(../images/WhiteBlueStripe.jpg) 0 0 no-repeat;
				span { display: none; }
			}		
			&[title="Blue Oxford"] {
				background: url(../images/BlueOxford.jpg) 0 0 no-repeat;
				span { display: none; }
			}							
			&[title="White Oxford"] {
				background: url(../images/WhiteOxford.jpg) 0 0 no-repeat;
				span { display: none; }
			}
			&[title="Blue Denim"] {
				background: url(../images/BlueDenim.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Blue Chino"] {
				background: url(../images/BlueChino.jpg) 0 0 no-repeat;
				span { display: none; }
			}
			&[title="Khaki Chino"] {
				background: url(../images/KhakiChino.jpg) 0 0 no-repeat;
				span { display: none; }
			}
			&[title="Stone Chino"] {
				background: url(../images/StoneChino.jpg) 0 0 no-repeat;
				span { display: none; }
			}			
			&[title="Lighthouse Natural"] {
				background: url(../images/LighthouseNatural.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Signal Flag"] {
				background: url(../images/SignalFlag.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Rainbow Fleet"] {
				background: url(../images/RainbowFleet.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Map Navy"] {
				background: url(../images/MapNaturalNavy.jpg) 0 0 no-repeat;
				span { display: none; }
			}		
			&[title="Lobster Green"] {
				background: url(../images/LobsterGreen.jpg) 0 0 no-repeat;
				span { display: none; }
			}		
			&[title="Bluefish Slate"] {
				background: url(../images/BluefishSlate.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Bass Nantucket Red"] {
				background: url(../images/BassNantucketRed.jpg) 0 0 no-repeat;
				span { display: none; }
			}
			&[title="Shark Nantucket Red"] {
				background: url(../images/SharkNantucketRed.jpg) 0 0 no-repeat;
				span { display: none; }
			}						
			&[title="Seagull Blue"] {
				background: url(../images/SeagullBlue.jpg) 0 0 no-repeat;
				span { display: none; }
			}
			&[title="Navy 64 Knots"] {
				background: url(../images/Navy64Knots.jpg) 0 0 no-repeat;
				span { display: none; }
			}
			&[title="Red 64 Knots"] {
				background: url(../images/Red64Knots.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Navy Lat Lng"] {
				background: url(../images/NavyLatLng.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="White CC Logo"] {
				background: url(../images/WhiteCCLogo.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Lt Blue CC Logo"] {
				background: url(../images/LtBlueCCLogo.jpg) 0 0 no-repeat;
				span { display: none; }
			}				
			&[title="Regatta Red"] {
				background: url(../images/RegattaRed.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Light Blue Lifesaving"] {
				background: url(../images/LtBlueLifesaving.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Barn Red Polo"] {
				background: url(../images/BarnRedPolo.jpg) 0 0 no-repeat;
				span { display: none; }
			}	
			&[title="Soft Green Polo"] {
				background: url(../images/SoftGreenPolo.jpg) 0 0 no-repeat;
				span { display: none; }
			}	


		}
	}
}

#checkout {
	ul.modifiers {
		li {
			width: 40px;
			height: 40px;
			a {
				height: 40px;
				line-height: 40px;
			}
		}
	}
}

div#cart-confirm{
	text-align: center;
	
	.primary-button {
		margin: 1rem;
	}
}