
div#product-listing-page, div#product-detail-page{
	margin: 2rem auto;
}

div#product-listing-page {
	figcaption {
		.name {
			height: 50px;
		}

		.price {
			text-align: right;
		}
	}
}

figure.product{
	background: #fff;
	
	span.name{
		float: left;
		font-family: $header-font-family;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	
	span.price{
		float: right;
		color: $color-two;
	}	
	
}

div#product-info{
	
	section{
		margin-bottom: 2rem;
	}
	
	img{
		border:4px solid #fff;
	}
	
	img.selected{
		border:4px solid $primary-button-color;
	}	

	section.product-description ul {
		margin-left: 2em;
		list-style-position: inside;
	}
}

ul.modifiers {
	overflow: hidden;

	li {
		display: inline-block;
		width: 60px; 
		height: 60px;
		margin: 4px;
		float: left;

		a {
			display: block;
			height: 60px;
			line-height: 51px;
			text-align: center;
			font: $color-two 1.2em/1em $header-font-family;
			background: $background3;
			color: $body-font-color;

			&:hover {
				background: $primary-button-color;
				color: #fff;
			}

			&.selected {
				border:4px solid $primary-button-color;
			}

			&.Navy {
				background: #2f3042;
				span { display: none; }
			}

			&.Red {
				background: #e7194b;
				span { display: none; }
			}
			&.LtGreen {
				background:#aed1a9;
				span { display:none; }
			}
			&.Royal {
				background: #6497ce;
				span { display:none; }
			}
			&.Raspberry {
				background: #fe717a;
				span { display:none; }
			}
			&.Chambray {
				background: #bacae1;
				span { display:none; }
			}
			&.Black {
				background: #000;
				span { display:none; }
			}
			&.White {
				background: #fff;
				span { display:none; }
			}	
			&.Pumpkin {
				background: #ffb054;
				span {display:none; }
			}		
			&.Mint {
				background:#a2deaa;
				span { display:none; }
			}
			&.IslandGreen {
				background:#a9b09e;
				span { display:none; }
			}	
			&.SurfBlue {
				background:#617188;
				span { display:none; }
			}	
			&.Stone {
				background:#e2dfd8;
				span { display:none; }
			}
			&.Khaki {
				background:#b29887;
				span { display:none; }
			} 
		}
	}
}

#checkout {
	ul.modifiers {
		li {
			width: 40px;
			height: 40px;
			a {
				height: 40px;
				line-height: 40px;
			}
		}
	}
}

div#cart-confirm{
	text-align: center;
	
	.primary-button {
		margin: 1rem;
	}
}