div#story-page{
	margin: 2rem auto;
	// .title {
	// 	background: url(../images/flag.png) no-repeat 65% 0;
	// 	overflow: visible;
	// 	background-size: contain;
	// }

}

.date-panels {
	padding-top: 1em;
}

div.date-panel{
	border: 3px double $background3;
	padding: 1rem 0;
	background: lighten($background3, 7%);

	img.photo {border: 2px solid #fff;}

	p {
		border-top: 1px solid #ECE8DC;
		padding: .5em 1em;
		font-style: italic;
		color: #74716E;
	}

	.date-photo, .date-text {
		text-align: center;
	}
}

div.line{
	border-right: 5px solid $background3;
	padding: 2rem 0;
}